# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Runtime config
.runtimeconfig.json

# Firebase config
src/pointit-bb794-firebase-adminsdk-h2xmw-615936ee78.json
